/creacionales/singleton/nbproject/private/
/creacionales/singleton/build/
/PrimerParcial/Ejercicio2Biblioteca/nbproject/private/
/PrimerParcial/Ejercicio2Biblioteca/build/
/PrimerParcial/Ejercicio3Solid/nbproject/private/
/PrimerParcial/Ejercicio3Solid/build/
/estructurales/proxy-geometry-calculator/nbproject/private/
/estructurales/proxy-geometry-calculator/build/
/estructurales/proxy-basic-implementation/nbproject/private/
/estructurales/proxy-basic-implementation/build/
/estructurales/proxy-classic-implementation/nbproject/private/
/estructurales/proxy-classic-implementation/build/
/estructurales/proxy-pet-shop/nbproject/private/
/estructurales/proxy-pet-shop/build/
/estructurales/proxy-pila-log/nbproject/private/
/estructurales/proxy-pila-log/build/