/creacionales/singleton/nbproject/private/
/creacionales/singleton/build/
/PrimerParcial/Ejercicio2Biblioteca/nbproject/private/
/PrimerParcial/Ejercicio2Biblioteca/build/
/PrimerParcial/Ejercicio3Solid/nbproject/private/
/PrimerParcial/Ejercicio3Solid/build/